@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
       url('./assets/fonts/SF-Pro-Display-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
       url('./assets/fonts/SF-Pro-Display-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'SF Pro Display', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #F9F9F9;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #001CE0;
}

p, span, div {
  font-weight: bold !important;
} 